@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertoModel
@{
}
 
<h1>Listado de Aeropuertos</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Pais</th>
        <th>Coor_x</th>
        <th>Coor_y</th>
    </thead>
    @foreach (var aeropuerto in Model.Aeropuertos)
    {
        <tr>
            <td>@Aeropuerto.id</td>
            <td>@Aeropuerto.Nombre</td>
            <td>@Aeropuerto.Ciudad</td>
            <td>@Aeropuerto.Pais</td>
            <td>@Aeropuerto.Coor_x</td>
            <td>@Aeropuerto.Coor_y</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertoId="@aeropuerto.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@aeropuerto.id">Editar</a>
              <form method="POST">
            <input type="number" class=" d-none" id="id" asp-for="@aeropuerto.id">
              <button type="submit"class="btn btn-danger">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>
    